{% extends 'news_api/base.html' %}



{% block content %}
<h1 class="category-name">{% if country %} {{ country|title }}{% endif %} {% if category %} {{ category|title }}{% endif %}</h1>

<div class="hole-category">
    <!-- <h1>{% if country %} {{ country|title }}{% endif %} {% if category %} {{ category|title }}{% endif %}</h1> -->
    {% for article in news %}
        <div class="articles">
            <div class="article-card-category">
                <!-- <h2>{{ article.title }}</h2> -->
                <div class="title-image">
                    <img src="{{ article.image_url }}" alt="{{ article.title }}">
                    <a href="{{article.news_url}}">{{article.title}}</a>
                </div>
                <div class="desc">
                    <p>{{ article.name }}</p>
                    <p class="description">{{ article.description }}</p>
                    <p class="publish">Published at: {{ article.published_at }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}



<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header>
        <nav>
        </nav>
        </header>
        
        <main>
            <h1>{% if country %}news in - {{ country|title }}{% endif %}</h1>
            <h1>{% if category %} news in - {{ category|title }}{% endif %}</h1>
            {% for article in news %}
                <div class="article">
                    <h2>{{ article.title }}</h2>
                    <img src="{{ article.image_url }}" alt="{{ article.title }}" style="height: 100px; width: 100px;">
                    <p>{{ article.description }}</p>
                    <p>Published at: {{ article.published_at }}</p>
                    <br><br>
                </div>
            {% endfor %}
        </main>
</body>
</html> -->