{% extends 'news_api/base.html' %}

{% block content %}

<div class="customize">
    <h1>Your Topics</h1>
    <button id="customizeButton">Customize</button>
</div>


<!-- مودال -->
<div id="customizeModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        
        <h2>Select Your Preferences</h2>
        
        <form id="customize-form">
            <label for="categories">Categories:</label>
            <select id="categories" name="categories" multiple>
                <option value="technology">Technology</option>
                <option value="health">Health</option>
                <option value="Science">Science</option>
                <option value="sports">Sports</option>
                <option value="entertainment">Entertainment</option>
                <option value="business">Business</option>
                <option value="general">Politics</option>
            </select>

            <label for="countries">Countries:</label>
            <select id="countries" name="countries" multiple>
                <option value="iran">Iran</option>
                <option value="world">World</option>

            </select>

            <button type="submit">Save Preferences</button>
        </form>
    </div>
</div>






{% for category, news_list in category_news.items %}
    <div class="hole">
        <h2>{{ category }}</h2>
        {% for article in news_list %}
            <div class="article-card">
                <div class="title-image">
                    <img src="{{ article.image_url }}" alt="{{ article.title }}" />
                    <a href="{{ article.news_url }}">{{ article.title }}</a>
                </div>
                <div class="desc">
                    <!-- <p>{{ article.name }}</p> -->
                    <!-- <p>{{ article.description }}</p> -->
                    <p>Published at: {{ article.published_at }}</p>
                </div>
            </div>
    {% endfor %}
    </div>
{% endfor %}



{% endblock %}