{% extends 'news_api/base.html' %}

{% block content %}

<!-- <div class="hole">
  <h1></h1>
  {% for article in news %}
  <div class="articles">
    <div class="article-card">
      <div class="title-image">
        <img src="{{ article.image_url }}" alt="{{ article.title }}" />
        <a href="{{article.news_url}}">{{article.title}}</a>
      </div>
      <div class="desc">
        <p>{{ article.name }}</p>
        <p>{{ article.description }}</p>
        <p>Published at: {{ article.published_at }}</p>
      </div>
    </div>
  </div>
  {% endfor %} -->


  {% for category,articles in category_news.items %}
  <div class="hole">
    <h1></h1>
    <h1></h1>
    <h2>{{ category }}</h2>
    
    <!-- استفاده از category_news[category] برای دسترسی به اخبار این دسته -->
    {% for article in articles %}
      <div class="articles">
        <div class="article-card">
          <div class="title-image">
            <img src="{{ article.image_url }}" alt="{{ article.title }}" />
            <a href="{{ article.news_url }}">{{ article.title }}</a>
          </div>
          <div class="desc">
            <p>{{ article.name }}</p>
            <p>{{ article.description }}</p>
            <p>Published at: {{ article.published_at }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}


{% endblock %}
