{% extends 'news_api/base.html' %}

{% block content %}


<div class="category-bound">
  {% for category,articles in category_news.items %}
  <div class="hole">
    <a href="/category/{{ category }}"><h2 class="category" >{{ category }} ></h2></a>
    {% for article in articles %}
        <div class="article-card">
          <div class="title">
            <!-- <p>{{ article.name }}</p> -->
            <!-- <p>{{ article.description }}</p> -->
            <a target="_blank" href="{{ article.news_url }}">{{ article.title }}</a>
            <p>Published at: {{ article.published_at }}</p>
          </div>
          <div class="image">
            <img src="{{ article.image_url }}" alt="{{ article.title }}" />
            <!-- <a href="{{ article.news_url }}">{{ article.title }}</a> -->
          </div>
        </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>


{% endblock %}
