{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSONews | Login</title>
    <link rel="stylesheet" href="{% static 'news_api/css/stylee.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Login</h1>
        <form class="form" method="post">
            {% csrf_token %}
            <div class="signup-design">
                {{ form.as_p }}
            </div>
            <button class="login" type="submit">Login</button>
        </form>
        <p class="redirect">Don't have an account? <a class="formlink" href="{% url 'signup' %}?next={{ request.GET.next }}">Sign Up</a></p>
    </div>

    <script src="{% static 'news_api/js/all.js' %}"></script>

</body>
</html>






