# Virtual environment
venv/
env/

# Python cache files
*.pyc
__pycache__/

# Django database file
db.sqlite3

# Static and media files
staticfiles/
media/

# Logs
*.log

# Environment variables
.env


.vscode/
